includes/images/contestant_images/Achaa Beatrice (Betty Blinks).jpg
includes/images/contestant_images/Adom Gifty.jpg
includes/images/contestant_images/Bismark Gyamfi (Bohyeba).jpg
includes/images/contestant_images/Boatemaa Comfort Adarkwah (Connie's Appeal).jpg
includes/images/contestant_images/Castro Karikari coffie (Castro).jpeg
includes/images/contestant_images/Cindy & Anita (Cinann).jpg
includes/images/contestant_images/Cindy Oppong (Cee).jpeg
includes/images/contestant_images/Deborah Doko (Debbie).jpeg
includes/images/contestant_images/Elizabeth Dunya (Eliz).jpeg
includes/images/contestant_images/Gladys Gyebi (Pacific).jpg
includes/images/contestant_images/Ivy Kpiebaya Azaangsoma (Ivy).jpeg
includes/images/contestant_images/Jacquiline Shamo (Jacquiline).jpeg
includes/images/contestant_images/Louisa & Ruthie (Main and Assist).jpg
includes/images/contestant_images/Mark Asibi (Kintosh Clothing).jpeg
includes/images/contestant_images/Matilda Anaafi (Tilda).jpeg
includes/images/contestant_images/Matilda Dwomah Kwarteng (MDK).jpg
includes/images/contestant_images/Millicent Afedo (Odefa).jpeg
includes/images/contestant_images/Moses Dzidzienyo (Bossman).jpeg
includes/images/contestant_images/Noreen Arthur (Noreen).svg
includes/images/contestant_images/Portia Quarshie (Dee).jpeg
includes/images/contestant_images/Richmond Aditey (Richy).jpg
includes/images/contestant_images/Salimatu Ibrahim (Salima's touch).jpeg
includes/images/contestant_images/Vanessah Aidoo (Nessa).jpg
includes/images/contestant_images/Waasiu Adam (Freaking Wataara).jpeg
includes/images/contestant_images/Noreen Arthur (Noreen).svg
