body {
    font-family: Arial, sans-serif;
    background-color: #d3caca;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 30px auto 20px auto;
    padding: 20px;
}

.header-title {
    text-align: center;
    margin-bottom: 20px;
    color: #222;
}

.event-demographics {
    background-color: #333;
    border: 1px solid #ffa500;
    border-radius: 8px;
    padding: 10px 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 7px;
    margin: 10px auto;
    text-align: left;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.event-title {
    font-size: 1.0em;
    color: #ffa500;
    margin: 10px 0px;
    width: min-content;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background-color: #333;
    border: 1px solid #ffa500;
    border-radius: 8px;
    padding: 10px;
    width: calc(50% - 20px);
    max-width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1.5em;
    color: #ffa500;
    margin-bottom: 10px;
}

.stats {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

.stat {
    background-color: #333;
    border: 1px solid #ffa500;
    border-radius: 8px;
    padding: 5px 20px;
    width: calc(50% - 20px);
    max-width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stat h4 {
    margin: 8px;
    color: #ffa500;
}

.chart-container {
    margin-top: 40px;
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ffa500;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

canvas {
    height: 300px !important;
}

.categories-table {
    margin-top: 40px;
}

.category {
    margin-bottom: 20px;
}

.category-title {
    color: #222;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #333;
}

thead {
    background-color: #ffa500;
    color: white;
}

th, td {
    padding: 10px;
    border: 1px solid #444;
    text-align: left;
}

@media (max-width: 768px) {
    .cards {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }

    .card, .stat {
        width: calc(38% - 10px);
        max-width: 150px;
    }

    .stats {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }

    .chart-container {
        padding: 10px;
    }

    canvas {
        height: 200px !important;
    }

    th, td {
        padding: 5px;
    }
}
