*{
padding: auto;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222; /* Dark blue background */
    color: #fff; 
    padding: 0px 0px; /* Adjust padding to align logo and menu button */
    height: 60px; /* Set a fixed height for the header */
    position: fixed;
    top: 0;
    width: 100vw;
    box-shadow: 0 4px 2px -2px #ffa500;
    z-index: 1000; /* Ensure it stays on top of other content */
}

.logo{
    margin: auto 0 auto 12px;
    display: flex;
}

.logo img {
   height: 50px;/* Make the image take the full height of the header */
    max-height: 30%; /* Ensure the logo does not exceed the header height */
}

.logo h2{
    font-size: 30px;
    margin: 0px;
    color: #ffa500;
}

.menu-button {
    font-size: 32px; /* Larger menu button */
    cursor: pointer;
    display: block;
    margin-right: 20px;
}

nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    background-color:#222; 
    height: 100%;
    width: 250px;
    transition: right 0.4s;
    z-index: 1000;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 20px 0px;
    border-bottom: 1px solid #ffa600c2; /* Light blue border */
    text-align: center;
    font-size: 18px; /* Larger nav text */
}

nav a:hover {
    background-color: #ffa600c2; /* Slightly lighter blue on hover */
}

.close-button {
    text-align: right;
    padding: 15px;
    cursor: pointer;
    font-size: 30px; /* Larger close button */
}


/* Desktop Styles */
@media (min-width: 600px) {
    .menu-button {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        position: static;
        width: auto;
        background: none;
        height: auto;
        border: none;
        right: 0;
        transition: none;
        margin-left: auto;
        margin-right: 20px;
    }

    nav a {
        border: none;
        padding: 10px 20px;
    }

    header {
        flex-direction: row;
        justify-content: space-between;
    }

    .close-button {
        display: none; /* Hide close button on larger screens */
    }
}